<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/gallery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   <%- include("../partials/navbar") %>
 <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center my-1">
            </div>
         </div>
         
         <div class="row py-2 mb-5">
            <div class="col-lg-12 mx-auto">
              <div class="text-white p-3 shadow-sm rounded banner">
                <h1 class="display-4"><center>Announcements</center></h1>
                <p class="lead"><center>"Empowering our community with our Announcements Page, where admins effortlessly communicate updates, news, and directives to the entire society, specific member groups, or designated team heads in one centralized hub."</center></p>
                <% if(currentUser && (currentUser.role === "admin")) { %>
                <div style="text-align: right;"><a href="/society/announcements/new" class="button">Make New Announcement</a></div>
                <% } %>
              </div>
            </div>
          </div>
         
         <div class="portfolio-item row ">
            <% for (let announce of anouncements){%>
               <% if(currentUser && (currentUser.role === "admin")||announce.to=="All"||announce.to==currentUser.username||announce.to=="All Heads"&&currentUser.role=="head") { %>
               <div class="message-box">
                  <% var hours = announce.send_date.getHours(); %>
                  <% var minutes = announce.send_date.getMinutes(); %>
                  <% var ampm = hours >= 12 ? 'PM' : 'AM'; %>
                  <% hours = hours % 12; %>
                  <% hours = hours ? hours : 12; %>
                  <div class="message-header">From:  <%= announce.from %>  | <span style="color: grey; font-size: 16px;">To: <%= announce.to %></span></div>
                  <div class="message-content">Message: <%= announce.message %> </div>
                  <div class="message-content cc"> Date: <%=announce.send_date.getDate()%>-<%=announce.send_date.getMonth()+1%>-<%=announce.send_date.getFullYear()%> | Time: <%= hours %>:<%if(minutes<10){%>0<%}%><%= minutes %><%= ampm %></div>
                  <% if(currentUser && (currentUser.role === "admin")) { %>
                     <form class="" action="/society/announcements/<%=announce._id%>?_method=DELETE" method="POST">
                        <button class="btn" style="border-color:#F11A7B ; font-family:sans-serif;color:#F11A7B;background-color: white;width: 10%; height: 100%;margin-bottom: 5px;margin-right: 5px; padding: 0px 0px;">Delete</button>
                    </form>
                  <% } %>
               </div>
               <% }%> 
             <% }%>
               </div>
               </div>
            </div>
         </div>    
      </div>
      <div class="footer">
        <%- include("../partials/footer") %>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
      <style>
         .message-box {
           background-color: #fff;
           margin: auto;
           margin-bottom: 15px;
           border-radius: 8px;
           box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
           max-width: 98%;
           width: 100%;
           padding: 20px;
           box-sizing: border-box;
         }
     
         .message-header {
           font-size: 18px;
           font-weight: bold;
           margin-bottom: 10px;
         }
     
         .message-content {
           font-size: 16px;
           margin-bottom: 7px;
         }
         .cc{
           font-size: 12px;
         }
       </style>    
</body>
</html>

